/*
*
* Copyright (c) 2021 Darryl deHaan
* SPDX-License-Identifier: MIT
*
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define BASE    0
#define SYMBOL  1
#define NAV     2
#define NUMBER  3
#define SYSTEM  4

/ {
    chosen {
        zmk,physical-layout = &foostan_corne_6col_layout;
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        base_layer {
            display-name = "COLEMAK";
// --------------------------------------------------------------------------------
// | ESC  |  Q  |  W  |   F   |  P  |    B     ||     J   |  L   |  U  |  Y  |  ;  | BKSP |
// | TAB  |  A  |  R  |   S   |  T  |    G     ||     M   |  N   |  E  |  I  |  O  |   '  |
// | CTRL |  Z  |  X  |   C   |  D  |    V     ||     K   |  H   |  ,  |  .  |  /  | ALT |
//                    | C-SFT | NUM | NAV/BKSP || SYM/SPC | SHFT | CTRL |

            bindings = <
&kp ESC &kp Q &kp W &kp F &kp P &kp B          &kp J &kp L &kp U &kp Y &kp SEMI &kp BKSP
&kp TAB &kp A &kp R &kp S &kp T &kp G          &kp M &kp N &kp E &kp I &kp O &kp SQT
&kp LCTRL &kp Z &kp X &kp C &kp D &kp V        &kp K &kp H &kp COMMA &kp DOT &kp FSLH &kp RALT
    &kp LC(LSHFT) &mo NUMBER &lt NAV BKSP      &lt SYMBOL SPACE &kp RSHFT &kp RCTRL
            >;
        };

        symbol_layer {
            display-name = "SYMBOL";
// -----------------------------------------------------------------------------------------
// | ESC  |  `  |  '  |  <  |   >   |  "  ||  _   |  [  |  ]  |  %  |  ;  | BKSP |
// | ATAB |  !  |  -  |  +  |   =   |  #  || '|'  |  (  |  )  |  :  |  !  |  ~  |
// | STAB |  ^  |  /  |  *  |   \   |  @  ||  $   |  {  |  }  |  &  |  ?  |     |
//                    | GUI | S-ENT | ENT || HELD | CTRL| ALT |

            bindings = <
&kp ESC &kp GRAVE &kp SQT &kp LT &kp GT &kp DQT                 &kp UNDER &kp LBKT &kp RBKT &kp PRCNT &kp SEMI &kp BSPC
&kp LA(TAB) &kp EXCL &kp MINUS &kp PLUS &kp EQUAL &kp HASH      &kp PIPE &kp LPAR &kp RPAR &kp COLON &kp EXCL &kp TILDE
&kp LS(TAB) &kp CARET &kp FSLH &kp STAR &kp BSLH &kp AT         &kp DLLR &kp LBRC &kp RBRC &kp AMPS &kp QMARK &none
                        &kp LGUI &kp LS(ENTER) &kp ENTER        &trans &kp RCTRL &kp RALT
            >;
        };

        nav_layer {
            display-name = "NAV";
// -----------------------------------------------------------------------------------------
// | ESC   | CAPS |     | CUT  |       | UNDO || PGUP | HM  | UP  | END | INS   | DEL   |
// |       |      | SFT | COPY | PASTE | REDO || PGDN | LFT | DWN | RGT |       |       |
// | BTCLR | BT0  | BT1 | BT2  | BT3   | BT4  ||      |     |     |     | C/ALT | S/ALT |
//                      |      |       | HELD || GUI  | CTRL| ALT |

            bindings = <
&kp ESC &kp CAPS &none &kp RC(X) &none &kp RC(Z)        &kp PG_UP &kp HOME &kp UP &kp END &kp INS &kp DEL
&none &none &kp LSHFT &kp RC(C) &kp RC(V) &kp RC(Y)     &kp PG_DN &kp LEFT &kp DOWN &kp RIGHT &none &none
&bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 
&bt BT_SEL 3 &bt BT_SEL 4                               &none &none &none &none &kp RC(RALT) &kp RS(RALT)
                            &none &none &trans          &kp RGUI &kp RCTRL &kp RALT
            >;
        };

        number_layer {
            display-name = "NUMBER";
// -----------------------------------------------------------------------------------------
// | ESC  | F1 | F2  | F3  | F4  |  _  ||  -  |  7  |  8  |  9  |  0  | BKSP |
// | TAB  | F5 | F6  | F7  | F8  |  *  ||  =  |  4  |  5  |  6  | '|' |     |
// | SHFT | F9 | F10 | F11 | F12 |  /  ||  +  |  1  |  2  |  3  |     |     |
//                   |     | HELD|     || GUI | CTRL| ALT |

            bindings = <
&kp ESC &kp F1 &kp F2 &kp F3 &kp F4 &kp UNDER           &kp MINUS &kp N7 &kp N8 &kp N9 &kp N0 &kp BKSP
&kp TAB &kp F5 &kp F6 &kp F7 &kp F8 &kp STAR         &kp EQUAL &kp N4 &kp N5 &kp N6 &kp PIPE &none
&kp LSHFT &kp F9 &kp F10 &kp F11 &kp F12 &kp FSLH    &kp PLUS &kp N1 &kp N2 &kp N3 &none &none
                        &none &trans &none           &kp RGUI &kp RCTRL &kp RALT
            >;
        };
    };
};











